@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-weight: normal;
}

body {
  background-color: #ffeeda;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.main-container {
  background-color: #fce8b1;
  border: 4px solid black;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 7fr 3fr;
      grid-template-columns: 2fr 7fr 3fr;
}

.main-container #col-1,
.main-container #col-2 {
  border-right: 2px solid black;
}

.main-container .col {
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.main-container #col-1 {
  -ms-grid-rows: 13rem auto 10rem;
      grid-template-rows: 13rem auto 10rem;
}

.main-container #col-1 > div,
.main-container #col-1 nav {
  padding: 0.5rem 0.5rem 0.5rem 3rem;
}

.main-container #col-1 > div:first-child {
  border-bottom: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container #col-1 > div:first-child h1 {
  font-weight: normal;
}

.main-container #col-1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container #col-1 nav ul {
  list-style-type: none;
}

.main-container #col-1 nav ul li {
  margin: 0.5rem 0;
}

.main-container #col-1 nav ul li a {
  font-size: 110%;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.main-container #col-1 .share-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container #col-1 .share-buttons p {
  border-bottom: 2px solid black;
  width: calc(100% - 3rem);
}

.main-container #col-1 .share-buttons > div {
  margin-top: 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25px)[3];
      grid-template-columns: repeat(3, 25px);
  -ms-grid-rows: 25px;
      grid-template-rows: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
  gap: 0.5rem;
}

.main-container #col-1 .share-buttons > div img,
.main-container #col-1 .share-buttons > div a {
  height: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-container #col-1 .share-buttons > div img a:hover,
.main-container #col-1 .share-buttons > div a a:hover {
  font-size: 105%;
}

.main-container #col-1 .share-buttons > div > div {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container #col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 13rem 4fr 2fr;
      grid-template-rows: 13rem 4fr 2fr;
}

.main-container #col-2 .row1 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 100%;
  padding: 1rem 2rem;
  border-bottom: 2px solid black;
}

.main-container #col-2 .row1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.main-container #col-2 .row1 ul li h2 {
  line-height: 120%;
  font-size: 120%;
}

.main-container #col-2 .row1 ul li h3 {
  font-size: 100%;
}

.main-container #col-2 .row1 ul li .number {
  font-size: 200%;
  margin-right: 1rem;
}

.main-container #col-2 .row2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  border-bottom: 2px solid black;
}

.main-container #col-2 .row2 .title-articles h2 {
  font-size: 200%;
  text-transform: uppercase;
  line-height: 100%;
  margin-top: 1rem;
}

.main-container #col-2 .row2 .title-articles h3 {
  font-size: 100%;
  margin: 0.5rem 0 0;
}

.main-container #col-2 .row2 .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 3rem;
}

.main-container #col-2 .row2 .cards .card {
  background-color: black;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.main-container #col-2 .row2 .cards .card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 3rem);
}

.main-container #col-2 .row2 .cards .card > div h4,
.main-container #col-2 .row2 .cards .card > div h5,
.main-container #col-2 .row2 .cards .card > div .date {
  color: #fce8b1;
}

.main-container #col-2 .row2 .cards .card > div h4 {
  font-size: 110%;
  line-height: 120%;
  color: #ffeeda;
}

.main-container #col-2 .row2 .cards .card > div h5 {
  margin: 0.5rem 0;
  font-style: italic;
}

.main-container #col-2 .row2 .cards .card > div .date {
  margin-bottom: 0.5rem;
  font-size: 70%;
}

.main-container #col-2 .row2 .cards .card img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-container #col-2 .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container #col-2 .row3 .social-table ul {
  list-style: none;
}

.main-container #col-2 .row3 .social-table ul li {
  height: 1rem;
}

.main-container #col-2 .row3 .social-table ul li img {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */